
* {
    text-shadow:2px 2px 7px #111111;
    font-family:serif;
    font-weight:normal;
}

body {
    font-family: sans-serif;
    color:darkcyan;
    background-color: antiquewhite;
    margin-top: auto;
}

.t{
    min-width:500px;
    max-width:750px;
    padding:50px;
    
}


.left {
    text-align: left;
}
form{
    margin-left:500px;
}

.login{
    width:100px;
    height:50px;
    background-color:steelblue;
    opacity:100;
    text-align:right;
    margin-left:75%;
    
}

input.submit:hover {
    background-color:steelblue;
}

.bold {
    color:darkcyan;
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.dob{
    width:100px;
    
}

.embed{
    
    text-align:left;
}


.searchb{
    text-align:right;
    background-color:inherit;
    width:500px;
}