body {
    font-family: sans-serif;
    background-color: antiquewhite;
    margin-top: auto;
}

.left {
    text-align: left;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

