body {
    font-family: sans-serif;
    background-color: antiquewhite;
    margin-top: auto;
}

.left {
    text-align: left;
}
form{
    margin-left:500px;
}

.login{
    text-align:right;
    margin-left:75%;
    background-color:white;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.dob{
    background-color:steelblue;
    
}