
* {
    text-shadow:1px 1px 7px #111111;
    font-family:serif;
    font-weight:normal;
}

body {
    font-family: sans-serif;
    color:darkcyan;
    background-color: antiquewhite;
    margin-top: auto;
}

.t{
    min-width:500px;
    max-width:750px;
    padding:50px;
    border-width:2px;
    
}


.left {
    text-align: left;
}
form{
    margin-left:500px;
}

.login{
    width:100px;
    height:25px;
    background-color:steelblue;
    opacity:500;
    text-align:center;
    margin-left:75%;
    
}

submit:hover {
    background-color:steelblue;
}

.bold {
    color:darkcyan;
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.dob{
    width:100px;
    
}

.embeded{
    
    text-align:right;
}


.searchb{
    text-align:right;
    background-color:inherit;
    width:500px;
}

.heads:hover {
    background-color:steelblue;
    
}
