body {
    font-family: sans-serif;
    background-color: antiquewhite;
    margin-top: auto;
}

.left {
    text-align: left;
}
form{
    margin-left:50%;
}


.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.dob{
    background-color:steelblue;
    text-align:right;
}